<div class="back-link"><%= link_to '<< Back to All Items', items_path %></div>

<% if notice %>
  <div class="alert-box success radius"><%= notice %></div>
<% end %>

<h1>
  <%= @item.name %>
</h1>
<div class="small-4 columns">
  <img src="https://s-media-cache-ak0.pinimg.com/236x/b9/9c/52/b99c52548d81a31f66f101ef07cd992d.jpg" />
</div>
<div class="small-4 columns", id="append-to">
  <%= render partial: 'items/high', locals: {item: @item} %>
  <%= render partial: 'items/bid', locals: {bid: @bid} %>
</div>
<div id="new-form">
</div>
